<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%block base_v1_title %}{%endblock%} Project Movies </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    
    <link href="{{MEDIA_URL}}jquery-ui.css" rel="stylesheet">

    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">


    <script src="{{MEDIA_URL}}jquery.min.js"></script>
    <script src="{{MEDIA_URL}}jquery-ui.min.js"></script>

    <script src="{{MEDIA_URL}}bootstrap/navbar-scroll/navbar-scroll.js" ></script>
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap.min.js"></script>
    
    <link href="{{MEDIA_URL}}template_images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/index/base.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/index/dot_loader.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/index/movie_list.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/index/movie_info.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/index/person_info.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/index/person_list_all.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/index/movie_menu.css">
<!-- 
    <script src="{{MEDIA_URL}}template_scripts/index/movie_list.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/index/movie_info.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/index/person_info.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/index/movie_music.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/index/person_list_all.js"></script>
     -->
    <script src="{{MEDIA_URL}}template_scripts/index/movie_menu.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/index/person_menu.js"></script>

    <script src="{{MEDIA_URL}}template_scripts/index/base.js"></script>
    {% block base_v1_extra_head %} {%endblock%}
    <script type="text/javascript">
        var old_hash=""
    </script>
    <style type="text/css" media="screen">
.ui-autocomplete-loading { background: white url('{{MEDIA_URL}}images/ui-anim_basic_16x16.gif') right center no-repeat; }
    </style>
</head>

<body>
    <div id="root" class="container">
        <div id="banner_ad_c" class="banner_ad_c" ></div>
        <div id="topnavbar" class="topnavbar">
            <ul>
                <li class="project_title">
                    <a href="#" href="#">Project Movies</a>
                </li>
                <div id="music_menu_when_hidden">  <!-- when not hidden or when music frame is hidden -->
                
                     <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" ><i class="icon-home icon-white"></i> Home <b class="caret"></b></a>
              <ul class="dropdown-menu">
              
      <li><a href="/latest/intheaters/"><i class="icon-play"></i> In Theaters</a></li>
      <li><a href="/latest/upcomming/"><i class="icon-fast-forward"></i> Upcoming Movies</a></li>
      <li><a href="/latest/additions/"><i class="icon-book"></i> Latest Additions to database</a></li>

            </ul>
              </li>

                <!-- <li><a href="#" onClick="loadmovies_x()"> Movies </a></li> -->
                
                <li><a href="#/Actors" > Actors </a></li>
<!--                 <li><a href="#/music/ls/" onClick="showmusicframe()"> Music </a></li> -->
                <form class="navbar-search pull-left" action="/search/all" method="GET">
                    <input id="movies" type="text" class="search-query " placeholder="Search Movies or Actors">
                </form>
                </div>
                <div id="music_menu_when_shown" style="display: none"> <!-- when music frame is shown -->
                    <li><a onClick="hide_music_frame()">Hide Music </a></li>
                </div>
                {% if user.username %} 
                <li style="overflow:hidden;width: 115px;text-align: right" class="pull-right">
                    <a href="/user/profile/">
        {%if user.first_name%} {{ user.first_name|default:" " }} {{ user.last_name|default:" " }}{%else%}{{user.username}}{%endif%}{% if last_login%}&nbsp;-&nbsp;{{last_login}}{%endif%}
                    </a>
                </li>
                <li><a href="{% url user_logout %}?next={{request.path}}"><i class="icon-off icon-white"></i></a></li>
                {%else%}
                <li><a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">Login</a></li>
                <li><a href="/user/register/">Register</a></li>
        {% endif %}
            </ul>
        </div>
        <iframe width="1001px" height="1000px" style="display:none; margin-top: 40px;border: 0;margin-bottom: 0;padding-bottom: 0;" id="music_iframe" ></iframe>
        <!-- Main Body --> 
        <div id="main_body" class="main_body design">
            {% block content_base_v1 %}
            {% endblock %}
        </div>

        <div id="footer" class="footer">
            <div class="bottom-content">
            <a href="http://blog.w4rlock.in/blog/24-Android-app-v0.02/" target="_black">Apps</a>
            -
            <a href="#/About-Us">About Us</a>
            -
            <a href="#/Contact-Us">Contact Us</a>

        <p style="font-size: 10px;">Copyright © 2012 All Rights Reserved.</p>
        <p style="font-size: 10px;">We Use / <a style="font-size: 10px;" href="http://www.djangoproject.com/" target="_blank">Django 1.4</a></p>
         
        </div>
        </div>
    </div>
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31450550-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>