{%extends "home_pages_styles.html"%}

{%block content3%}
<script type="text/javascript">
    window.setTimeout("location=('/v1/#/Latest-Additions');",2000);
</script>
<style type="text/css">
  .search-query{
  min-width: 300px;
}
</style>
<script type="text/javascript">
  document.title = "Latest Additions - Project Movies"
</script>
<script type="text/javascript">
  var time_variable;
 
function ajaxFunctionLoadiFrame(video_id) {
   if($(window).width() > 980){
  document.getElementById('iframe_movie').style.display="";
  document.getElementById('iframe_movie').src="/movie/"+movie_id+"/index/?iframe=1";

  $("#iframe_link").attr("href", "/movie/"+movie_id+"/index/");
}
else{
  var getdate = new Date();  
  document.getElementById(video_id).style.display="";
  document.getElementById(video_id).src="http://www.youtube.com/embed/"+video_id;
  image_id="img_"+video_id;
  document.getElementById(image_id).style.display="none";
}

}

function ajaxFunctionLoadiFrame_movie_trailer(video_id) {
  var getdate = new Date();    
   $('#loading').show();
  $('#iframe_movie').hide();
  document.getElementById('iframe_movie').src="http://www.youtube.com/embed/"+video_id;

  $("#iframe_link").attr("href", "http://www.youtube.com/watch?v="+video_id);


$('#iframe_movie').load(function() {
    $('#iframe_movie').show();
    $('#loading').hide();
});

}

</script>

<script type="text/javascript">
  var time_variable;
 
function ajaxFunctionLoadiFrame_movie(movie_id) {
  var getdate = new Date();  
  if($(window).height()<500){
    window.location.replace("/movie/"+movie_id+"/index/");
  }
  if($(window).width() > 980){
  $('#loading').show();
  $('#iframe_movie').hide();
  document.getElementById('iframe_movie').src="/movie/"+movie_id+"/index/?iframe=1";
  $("#iframe_link").attr("href", "/movie/"+movie_id+"/index/");
}
else{
  window.location.replace("/movie/"+movie_id+"/index/");
}

$('#iframe_movie').load(function() {
    $('#iframe_movie').show();
    $('#loading').hide();
});


}

$('#modal_movie').on('hidden', function () {
  $('#iframe_movie').hide()
})

function ajaxFunctionLoadiFrame_movie_custom(movie_id,custom) {
  var getdate = new Date();  
  if($(window).height()<500){
    window.location.replace("/movie/"+movie_id+"/"+custom+"/");
  }
  if($(window).width() > 980){
     $('#loading').show();
  $('#iframe_movie').hide();
  
  document.getElementById('iframe_movie').src="/movie/"+movie_id+"/"+custom+"/?iframe=1";

  $("#iframe_link").attr("href", "/movie/"+movie_id+"/"+custom+"/");
}
else{
  window.location.replace("/movie/"+movie_id+"/"+custom+"/");
}

$('#iframe_movie').load(function() {
    $('#iframe_movie').show();
    $('#loading').hide();
});

}
</script>
<style type="text/css">
  .image_thumbnail {
   position: relative;
   width: 100%; /* for IE 6 */
   background: #EEE;
   
  }
.image_thumbnail img{
  display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.image_thumbnail .notes{
  color: white;
   
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   position: absolute;
   bottom: 0px;
   
   display: block;
   margin-right: auto;
    margin-left: auto;
  padding: 0 0 0 0;
  
  width: 100%;

}
.image_thumbnail .notes p{
  padding-left: 20px;
    border-top: 0px;
  border-bottom: 0px;
}
.image_thumbnail .btn{
  padding: 2px 15px 2px;
}
#loading {
    width: 300px;
    padding: 20px;
    
    
    text-align: center;
    margin: 0 auto;
    display: none;
}​
iframe {
    display: none;
}
</style>

<script src="{{MEDIA_URL}}mansory/js/jquery.masonry.min.js"></script>
<div class="container-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            <li class="active"><a href="/movies/latest/db/">Latest Additions to database</a></li>
            <li><a href="/movies/latest/theaters/">In Theaters</a></li>
            <li><a href="/movies/latest/trailers/">Latest Trailers</a></li>
            <li><a href="/movies/latest/releasing/">Upcoming Movies</a></li>
            <li><a href="/movies/latest/news/">Latest News</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <span class="pagination">
               {% if page_list.has_previous %}
         <li>   <a href="?p={{ page_list.previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ page_list.number }} of {{ page_list.paginator.num_pages }}.</a>
        </li>

        {% if page_list.has_next %}
            <li> <a href="?p={{ page_list.next_page_number }}">next</a></li>
        {% endif %}
          </span>
    
          </ul>
  </div>
  <br/><br/>
  {% load thumbnail %}
   <ul class="thumbnails">
  {%for movie in movies_list %}
  <li class="span3">
<a data-toggle="modal" href="#modal_movie" onClick='ajaxFunctionLoadiFrame_movie("{{movie.id.id}}")' text-align="center">
           <div class="thumbnail"><!--<!-- remove this for no border around thumbnail-->
            <div class="image_thumbnail">
            {%if movie.trailer %}
<!--
             <a onClick='ajaxFunctionLoadiFrame("{{movie.trailer.youtube_code}}");'><img id="img_{{movie.trailer.youtube_code}}" src='http://img.youtube.com/vi/{{movie.trailer.youtube_code}}/0.jpg' width='100%' height='250'>

             </a>
--> 

 <a data-toggle="modal" href="#modal_movie" onClick='ajaxFunctionLoadiFrame_movie_trailer("{{movie.trailer.youtube_code}}")' class="">
        <img src='http://img.youtube.com/vi/{{movie.trailer.youtube_code}}/0.jpg' width='100%' height='250'/>
</a>

             <iframe id="{{movie.trailer.youtube_code}}" width="100%" height="250" frameborder="0" allowfullscreen class="pull-left" controls=0 style="display:none;"></iframe>
    
              {%else%}
              <br/>
              
              {%if movie.banner_image%}
                {% thumbnail movie.banner_image.imagefile "200x300" as image %}

            <img src="{{ image.url }}" style=""/>
            
                 
                {% endthumbnail %}
              {%else%}
              {% thumbnail "template_images/no_image.jpg" "200x300" as image %}
                   <img src="{{ image.url }}"style=""/>
            
            {% endthumbnail %}

                {%endif%}
                {%endif%}
                <div class="notes">
                  <p>

                  <a data-toggle="modal" href="#modal_movie" onClick='ajaxFunctionLoadiFrame_movie_custom("{{movie.id.id}}","rating")' class="">Rating</a>
                    -
                   <a data-toggle="modal" href="#modal_movie" onClick='ajaxFunctionLoadiFrame_movie_custom("{{movie.id.id}}","trailers")' class="">Trailers</a>
                   -
                   <a data-toggle="modal" href="#modal_movie" onClick='ajaxFunctionLoadiFrame_movie_custom("{{movie.id.id}}","cast")' class="">Cast</a>
                   -
                   <a data-toggle="modal" href="#modal_movie" onClick='ajaxFunctionLoadiFrame_movie_custom("{{movie.id.id}}","news")' class="">News</a>

                </p>
                </div>
              </div>
              
            <div class="caption">
              <div class="thumb_pad">
              <h5>
            <a href="{%url movie_detail_index movie.id.id '-'|add:movie.id.movie_name %}">
                {{movie.id.movie_name}}
              </a>
        </h5>
          {% if movie.id.movie_year.year == 1800 %}
          
                <h5>Date: Don't Know </h5>
                  {%else%}
                {{ movie.id.movie_year|date:"l" }} {{movie.id.movie_year}}
               
           {%endif%}
              </div>
              <p>
                Genres:
                {%if movie.genres%}
                {%for genre in movie.genres%}
                <a href="/genre/{{genre.genre_id.id}}/">{{genre.genre_id.genre_name}}</a> /
                {%endfor%}
                {%else%}
                Dont Know Yet
                {%endif%}
              </p>
              <p>
                Main Cast:
                {%if movie.persons%}
                {%for person in movie.persons%}
                      {% if person.profile_image%}
                         {% thumbnail person.profile_image.imagefile "40x35" crop='80% top' as image %}
                  <a href="/person/{{person.id.id}}-{{person.id.person_name}}/index/" rel="tooltip" title="{{person.id.person_name}}" onmouseover="loadiframe('{{person.id.id}}')" onmouseout="unloadiframe()">
                   <img src="{{ image.url }}" style="padding:{{ image|margin:"40x35" }}; padding-top: 2px" />
                 </a>
                        {% endthumbnail %}
                   
                      {%else%}
                      <a href="/person/{{person.id.id}}-{{person.id.person_name}}/index/" onmouseover="loadiframe('{{person.id.id}}')" onmouseout="unloadiframe()">{{person.id.person_name}}</a> /
                      {%endif%}
                {%endfor%}
                {%else%}
                Dont Know Yet
                {%endif%}
              </p>
              
               {%if movie.id.movie_plot%}
              <p>
                {{movie.id.movie_plot|escape|truncatechars:145}}
                <a href="{%url movie_detail_index movie.id.id '-'|add:movie.id.movie_name %}">
                  Read More
              </a>
              </p>
              {%endif%}
            </div>

          </div><!--<!-- remove this for no border around thumbnail-->
      </a>
  </li>
      {%endfor%}
    </ul>
<div class="span12">
  <div class='pagination'>
    <ul>
   {% if page_list.has_previous %}
         <li>   <a href="?p={{ page_list.previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ page_list.number }} of {{ page_list.paginator.num_pages }}.</a>
        </li>

        {% if page_list.has_next %}
            <li> <a href="?p={{ page_list.next_page_number }}">next</a></li>
        {% endif %}
    </ul>
  </div>
  <!--
    <div class="pagination pull-left">
    <ul>
    <li><a href="#">Prev</a></li>

    <li class="active">
    <a href="#">1</a>
    </li>
    
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
    </ul>
    </div>
-->
</div>
  
</div>

<script type="text/javascript">
 var $container = $('.thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.span3',
     isAnimated: true
  });
});
</script>

<script type="text/javascript">
  window.onresize = function(event) {
 var $container = $('.thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.span3',
     isAnimated: true
  });
});
}
</script>

<!-- otehr layers-->
<div class="modal hide fade" style="display: none; " id="modal_movie" style="height: 100%; width: 100%">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h6><a id='iframe_link' href=''>Go to this page</a></h6>
  </div>
    <div id='loading'>
      Please Wait While Loading
        <div class="progress progress-striped active">
              <div class="bar" style="width: 100%;"></div>
      </div>
  </div>​
    <iframe id="iframe_movie" width="100%" height="90%" frameborder="0" style="display:none;">
        
      </iframe>
</div>



<iframe id="info_iframe" class="info_iframe" style="display:none" onmouseover="keepiframe()" onmouseout="unloadiframe()"> </iframe>


<script type="text/javascript">

var mouseX;
var mouseY;
var now_person_id;
$(document).mousemove( function(e) {
   mouseX = e.pageX; 
   mouseY = e.pageY;
}); 


  function loadiframe(person_id){
    
    if (person_id==now_person_id){

    }
    else {
        document.getElementById('info_iframe').src="";
        document.getElementById('info_iframe').src="/ajx/pinfoframe/"+person_id+"/";  
        now_person_id = person_id;
    }
    
    $('#info_iframe').css({'top':mouseY-10,'left':mouseX})
    var widthsub = $(window).width() - mouseX
    
    
    if(widthsub < 470){
      wx = 470-Math.abs(widthsub);
      $('#info_iframe').css({'top':mouseY-10,'left':mouseX-Math.abs(wx)});
    }

    var heightsub = $(window).height() - mouseY

    // if((heightsub) < 320){
    //   wy = 320-Math.abs(heightsub);
    //   wy = Math.abs(wy)
    //  $('#info_iframe').css({'top':mouseY-Math.abs(wy)})
    //  console.log(wy)
    //  console.log(mouseY)
    //  console.log(mouseY-wy)
    //  console.log(heightsub)
    //  console.log($(window).height())
    // }
$("#info_iframe").show();
  }
  function unloadiframe(){
    $("#info_iframe").hide();
    
  }
  function keepiframe(){
    $("#info_iframe").show();
  }


</script>
<style type="text/css">
  
  .info_iframe{
    height: 320px;
    width: 470px;
    position: absolute;
    top: 80px;
    left: 40px;
    border: 0px;
    background: #EEE;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    -moz-transition: opacity 0.13s linear 0s;
    -webkit-transition: opacity 0.13s linear 0s;
  }
</style>
{%endblock%}




