 body{
            background: #BCBCB9;
             font-family: Verdana, Arial, sans-serif;
        }    
        .container{
            width: 1000px;
            height: 300px;
            margin: auto;
        }
        .design{
            border: 1px solid #EEE;
            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            margin-top: 40px;
            background: white;
            /*height: 500px;*/
            float: left;
            width: 100%;

            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 7px);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%,transparent 7px);
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%,transparent 7px);
            background: linear-gradient(top, rgba(0, 0, 0, 0.3) 0%,transparent 7px);
            background-repeat: no-repeat;
            background-size: 100% 7px;
            background-color: white;
        }
        .hidden{
            display: none;
        }

/* CSS FOR TOP 2 BARS*/
        .banner_ad_c{
            float: left;
            background: rgba(0, 0, 0, 0.8);
            height: 39px;
            width: 1002px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -webkit-linear-gradient(top, #333, #222);
            background-repeat: repeat-x;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);

            -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -o-linear-gradient(top, #333, #222);

            -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -o-linear-gradient(top, #333, #222);
        }
        .topnavbar{
            position: absolute;
            top: 40px;
            height: 40px;
            width: 1002px;
            color: white;
            background: rgba(0, 0, 0, 0.8);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -webkit-linear-gradient(top, #333, #222);
            background-repeat: repeat-x;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);      

            -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -o-linear-gradient(top, #333, #222);

            -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -o-linear-gradient(top, #333, #222);
            /*overflow: hidden;*/
        }
        .topnavbar ul{
            list-style: none;
        }
        .topnavbar li{
            float: left;
            display: block;
            text-align: -webkit-match-parent;
            padding: 8px 20px 12px;

            text-align: -webkit-match-parent;
            text-align: -webkit-match-parent;
        }
        .topnavbar  li  a{
            float: none;
            padding: 9px 10px 11px;
            line-height: 19px;
            color: #999;
            text-decoration: none;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
        .topnavbar  li  a:hover{
            background-color: transparent;
            color: #ffffff;
            text-decoration: none;
        }
        .dropdown-menu{
            color: black;
        }
        .dropdown-menu li{
            color: black;
        }
        .dropdown-menu li a{
            color: black;
        }
        .dropdown-menu li a:hover{
            color: blue;
        }
        .project_title{
            float: left;
            display: block;
            padding: 8px 20px 12px;
            margin-left: -20px;
            font-size: 20px;
            font-weight: 200;
            line-height: 1;
            color: #999;
        }
        .project_title a{
            color: #999;
        }
/* CSS FOR TOP 2 BARS ENDS HERE*/


 /* CSS FOR FOOTER STARTS HERE */
        .footer{
            
            margin: auto;
            min-height: 100px;
            border-top: 1px dashed saddleBrown;

            float: left;
            background: #EEE;
            background: currentcolor;
            min-height: 100px;
            width: 1002px;

            
            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
        }
        .footer .bottom-content{
            color: black;
            color: white;
            color: whitesmoke;
            padding-top: 8px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .footer .bottom-content a {
            color: black;
            color: white;
            color: wheat;
            font-size: 20px;
            font-variant: small-caps;
        }
        .footer .bottom-content p{
            font-size: 10px;
            margin: 0 0 10px;
        }
/* CSS FOR FOOTER ENDS HERE*/

/* CSS FOR ABOUT US AND CONTACT US */
 .aboutus{
    margin-left: 20px;
    min-height: 480px;
    margin-top: 20px;
 }
 .contactus{
    margin-left: 20px;
    min-height: 480px;
    margin-top: 20px;
 }
/* CSS FOR ABOUT US AND CONTACT US ENDS HERE*/


/* css for search_all*/

    .search_all{
        margin-top: 20px;
        margin-left: 10px;
    }

/* CSS FOR AUTO COMPLETE */

  .ui-autocomplete-loading { background: white url('{{MEDIA_URL}}images/ui-anim_basic_16x16.gif') right center no-repeat; }
  
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
    .ui-autocomplete-category2{
      background: #EEE;
      border-radius: 5px;
    }
/*
    li {
    border: 1px solid black;
}
.ui-state-active {
    background: black;
    color: white
}
.ui-state-active:hover {
    background: red;
    color: green;
}
li.ui-menu-item a {
    display: block;
}​*/

/* my styles*/
.ui-autocomplete{
  min-width: 300px;
  border-radius: 5px !important;
}
.ui-widget{
  font-size: 0.9em;
}
.ui-menu .ui-menu-item-a{
  padding: 0;

}
.ui-menu .ui-menu-item a {
  padding: 2px;
  display: inline-block;
  width: 100%
}
.ui-state-hover{
  border: 1px solid black;
  border-radius: 5px !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  background: rgba(135, 206, 235, 0.99)
}

.ui-menu-item{
  display: inline;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  border: 0px solid black;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-radius: 0px;
  }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-radius: 0px;
  }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0px;
  }
.auto_image{
    float: left;
    display: block;
  }
.auto_text{
    float: left;
    display: block;
    padding-left: 5px;
    width: 250px;
    overflow: hidden;
    font-size: 10px;
    line-height: 10px;
  }
  .auto_text_desc{
    float: left;
    display: block;
    padding-left: 5px;
    overflow: hidden;
    font-size: 10px;
    line-height: 10px;
  }
/* CSS FOR AUTO COMPLETE ENDS HERE */