/**/
/*CSS FOR MOVIES LIST ITEMS*/
    .tabs{
        margin: auto;
        width: 980px;
        margin-top: 20px;
    }
    .p2_main_body{
            width: 960px;
            height: 100%;
            margin: auto;
            margin-top: 0;
        }
        .each_item{
            background: #F6F6F5;
            height: 220px;
            width: 468px;
            float: left;
            margin-left: 10px;
            margin-bottom: 10px;
            color: #666;
            overflow: hidden;
            border: 1px solid #BCBCB9;
            /*border-radius: 10px;*/
            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            border: 1px solid #EEE;
            
        }
        .p2_heading{
            width: 900px;
            font-size: 20px;
            margin: 10px;
        }
        .p2_heading span{
            font-size: 9px;
        }
        
         #banner_img{
        float: left;
        max-width: 50%;
    }
    #each_item_title{
        
    }
    #each_item_title span{
        float: left;
        color: #136CB2;
        font-family: inherit;
        font-weight: bold;
        text-rendering: optimizelegibility;
        text-overflow: ellipsis;
        margin-left: 5px;
        width: 290px;
        word-wrap: break-word;

        font-size: 13px;
        margin: .35em 0 .25em;
        padding: 0;
    }
    .search_input{
        width: 315px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }


    #each_item_cast {
        font-size: 10px;
        float: left;
        width: 290px;
        word-wrap: break-word;
        margin-left: 5px;

    }
    #each_item_cast li + li::before {
        padding: 0 4px;
        content: " \20\0020";
    }
    #each_item_cast li {
        display: inline;
        height: 16px;
        line-height: 16px;
    }
    #each_item_cast li{
        color: black;
        color: #666;
    }
    #each_item_cast ul{
        margin: 0px;
        padding: 0px;
    }
    #each_item_days_left{
        float: left;
        margin-left: 5px;
        width: 290px;
        word-wrap: break-word;
    }
    .each_item img{
        -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
        -ms-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        margin: 10px;
        margin-left: 0;
        margin-top: 0;
        height: 222px;
        width: 150px;
    }

    #each_item_genres li + li::before {
        padding: 0 4px;
        content: " | \20\0020";
    }
    #each_item_genres li{
        display: inline;
        height: 10px;
        font-size: 10px;
        line-height: 10px;
    }
    #each_item_genres ul{
        margin: 0px;
        padding: 0px;
    }
    #each_item_genres{
        font-size: 13px;
        float: left;
        width: 290px;
        word-wrap: break-word;
        margin-left: 5px;
    }
    #each_item_days_left{
        font-size: 10px;
        float: left;
        width: 290px;
        word-wrap: break-word;
        margin-left: 5px;   
    }
    #each_items_days_left span{
        color: red;
    }
    .each_item_info{
        font-size: 10px;
        float: left;
        width: 290px;
        word-wrap: break-word;
        margin-left: 5px;
        overflow: hidden;
    }
    .each_item_info p{
        font-size: 10px;
    }
    #itemlist_loader{
        margin-top: 300px;
        width: 500px;
        margin: auto;
        margin-bottom: 100px;
    }
/* CSS FOR MOVIES LIST ITEMS ENDS HERE*/