{%extends "base_v1.html"%}

{%block content_base_v1%}
{% load get_latest_count %}
<div class="tabs">
            <ul class="nav nav-tabs">
              <li id="intheaters_menu" class="{% block base_latest_v1_class_intheaters %}{%endblock%}">
                <a href="/latest/intheaters/" >In Theaters ({{'x'|intheaters_count}})</a>
              </li>
              <li id="upcomming_menu" class="{% block base_latest_v1_class_upcomming %}{%endblock%}"><a href="/latest/upcomming/" >Upcomming Movies ({{'x'|upcomming_count}})</a></li>
             
              <li id="latestdb_menu" class="{% block base_latest_v1_class_additions %}{%endblock%}"><a href="/latest/additions/" >Latest Additions</a></li>
              <li id="latest_trailers_menu" class="{% block base_latest_v1_class_trailers %}{%endblock%}"><a href="/latest/trailers/" >Latest Trailers</a></li>
              <li id="images_all" class="{% block base_latest_v1_class_images %}{%endblock%}"><a href="/image/list/" >Latest Images</a></li>
            </ul>
        </div>
            <!-- Main LIst ITEMS -->
            <div class="p2_main_body" id="p2_main_body">     
			{% block content_base_latest_v1 %}
			{% endblock %}
			</div>

{%endblock%}