{% extends "latest/base_latest_v1.html" %}
{% block base_v1_title %}UpComming{% endblock %}
{% block base_latest_v1_class_upcomming %}active{%endblock%}
{% block content_base_latest_v1%}
{% for each_movie in movies.movies %}
    	
        <div class="each_item">
            <img src="{{each_movie.banner_image_small}}" id="banner_img">
                <div id="each_item_title"><a href="/movie/{{each_movie.id}}/{{each_movie.name.split|join:"-"}}/">
                	<span>{{each_movie.name}} {% if each_movie.date.year_known %}({{each_movie.date.year}}){% endif %} </span></a></div>
                        
                        <div class="each_item_genres" id="each_item_genres">
                            {% for each_genre in each_movie.genres %} 
									<li>{{each_genre.name}}</li>
                            {%endfor%}
                        </div>
                        {% if each_movie.days_condition%}
                        <div class="each_item_days_left" id="each_item_days_left">
                            Days : <span style="color: red">{{each_movie.days_left}}</span>
                        </div>
                        {%endif%}
                        <div id="each_item_cast">
                        	{% for each_cast in each_movie.heros%}
                        	<li><a href="/person/{{each_cast.id}}/{{each_cast.name.split|join:"-"}}/">
                        		{{each_cast.name}}</a></li>
                        	{%endfor%}
                        </div>
                        <div id="each_item_cast">
                        	{% for each_cast in each_movie.heroines%}
                        	<li><a href="/person/{{each_cast.id}}/{{each_cast.name.split|join:"-"}}/">
                        		{{each_cast.name}}</a></li>
                        	{%endfor%}
                        </div>
                        <div id="each_item_cast">
                        	{% for each_cast in each_movie.producers%}
                        	<li><a href="/person/{{each_cast.id}}/{{each_cast.name.split|join:"-"}}/">
                        		{{each_cast.name}}</a></li>
                        	{%endfor%}
                        </div>
                        <div id="each_item_cast">
                        	{% for each_cast in each_movie.musicdirectors%}
                        	<li><a href="/person/{{each_cast.id}}/{{each_cast.name.split|join:"-"}}/">
                        		{{each_cast.name}}</a></li>
                        	{%endfor%}
                        </div>
                        <div class="each_item_info" id="each_item_info">
                            {{each_movie.plot}}
                        </div>
                </div>
{%endfor%}
{% endblock %}