{%extends "base_v1.html"%}
{% block base_v1_extra_head %} 
<script src="{{MEDIA_URL}}template_scripts/indexv1/social.js"></script>
<script type="text/javascript" charset="utf-8" async defer>
    url = '/v1/api/m/backimages/'+{{movie_info.id}}+'/'
    $.getJSON(url, function(data) {
        all_images = data;
        random_image = all_images.backimages[Math.floor(Math.random()*all_images.backimages.length)];
        urlx = 'url('+random_image.actual+')'
        $('body').css({'background':urlx})
    });
</script>
{% endblock %}
{% block base_v1_title %}Search Results - {% endblock %}
{%block content_base_v1%}

 <div class="search_all" id="search_all_results">
          {% for each_result in results.results %}
                <div class="movie_box_main">
                        <div class="movie_box_image" id="movie_box_image">
                            <img src="{{each_result.icon}}">
                        </div>
                        
                        <div class="movie_box_content" id="movie_box_content_id_14">
                                <div class="movie_box_content_name">
                                    <a href="{{each_result.href.split|join:"-"}}">{{each_result.label}}</a> 
                                </div>
                                <div class="movie_box_content_prof">          
                                    <a>{{each_result.desc}}</a>      
                                </div>
                            </div>
                </div>
                    {% endfor %}
    </div>

{{result}}


{% endblock %}