{%extends "v1.html"%}

{%block content%}
<style type="text/css" media="screen">
    .main_body{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /*movie_base_page*/
</style>
<div class="span12 info_box">
	<br/>
	<div class="row-fluid span6 removeopacity info_box_style">
<h2>Login Using</h2>

<ul class="thumbnails">
        <li class="span2">
          <a href="{% url socialauth_begin 'facebook' %}" class="thumbnail">
            <img src="{{MEDIA_URL}}external_icons/icon_facebook.png" alt="some-thing-is-wrong-with-connection">
          </a>
        </li>

        <li class="span2">
          <a href="{% url socialauth_begin 'google' %}" class="thumbnail">
            <img src="{{MEDIA_URL}}external_icons/icon_google.png" alt="some-thing-is-wrong-with-connection">
          </a>
        </li>

        <li class="span2">
          <a href="{% url socialauth_begin 'twitter' %}" class="thumbnail">
            <img src="{{MEDIA_URL}}external_icons/icon_twitter.png" alt="some-thing-is-wrong-with-connection">
          </a>
        </li>
 </ul>

</div>
<div class="span6 row-fluid span6 removeopacity info_box_style">
	<h3>OR</h3>
<form method="post" action="">
	<p>
	{%csrf_token%}
  {{form.as_p}}
<input type="submit" value="Login" class="btn">
</p>
</form>

</div>
</div>

<style type="text/css">
	.removeopacity{
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=10);
    bottom: 50px;
}
.info_box_style{
  
  color: rgb(255,255,255);
  font-size: 13px;
  
}
  .info_box{
    background-color: black;
    
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
    
  }

</style>
{% endblock %}