<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if name %} {{name}}{%else%}Project Movies{%endif%}{%if movie_year%}({{movie_year}})
  {%else%}&nbsp;{%endif%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    <link href="{{ MEDIA_URL }}jquery-ui.css" rel="stylesheet">
    <!-- Le styles -->
    <link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">


    <script src="{{ MEDIA_URL }}jquery.min.js"></script>
    <script src="{{ MEDIA_URL }}jquery-ui.min.js"></script>
    
<style>
/*
@font-face {
  font-family: Helvetica Neue;
  src: url();
}
*/

body {
        padding-top: 60px; 
      /*   font-size:10px; */
        /*background-color: #C0C0C0;*/
      }

body p{
/*         font-size:10px; */
}
      
      .thumbnail{
        /*
  background-color:#f8f8ff;
    border: 1px solid rgba(0,0,0,0.5);
   border-radius: 2px 2px 2px 2px;
   
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 15px 30px rgba(0,0,0,0.3);
   
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 15px 30px rgba(0,0,0,0.3);
   
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 15px 30px rgba(0,0,0,0.3);
   
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), 

                  inset 0 1px rgba(255,255,255,0.3), 
                  inset 0 10px rgba(255,255,255,0.2), 
                  inset 0 10px 20px rgba(255,255,255,0.25), 
                  inset 0 15px 30px rgba(0,0,0,0.3);
*/

  background-color:#ffffff;
  border: 1px solid rgba(1,1,1,1);   
  border-radius: 1px 1px 1px 1px;      


  box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  -o-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  
  -webkit-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
}
.table-shows{
  background-color:#ffffff;

   border-radius: 2px 2px 2px 2px;
   
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

    font-size:10px; 
}
.accordion{
  background-color:#ffffff;
}
 .caption {
     
     font-size:10px; 
     text-align:left; 
     
  }
.caption p{
     font-size:10px; 
     text-align:left; 
     
}
    </style>
{%if back_image%}
<style type="text/css">

     #page_body{
    
    background-image: url({{back_image.imagefile.url}});

    background-repeat:repeat;  
    background-attachment:fixed;
  }

.thumbnail{
  color: #f8f8ff;
  background-color: black;
  background:rgba(0,0,0,0.75);
  border: 0px;
}
.caption {
     
     font-size:10px; 
     text-align:left; 
     
  }
.caption p{
     font-size:10px; 
     text-align:left; 
     color: white;
}

</style>
{%else%}
<style type="text/css">
  #page_body{
  
   background:url('{{MEDIA_URL}}template_images/back_repeat2.jpg');

    background-repeat:repeat;  
    background-attachment:fixed;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
{%endif%}



    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->

<!--
<script type="text/javascript">
$(function() {
  $("#movies").autocomplete({
    source: "/movie/searching/",
    minLength: 2,
    select: function( event, ui ) { 
            window.location.href = ui.item.value;
        }
  });
});

</script>

-->
<script type="text/javascript">
    function remove_back_img(){
          $("#page_body").css("background-image", "url('{{MEDIA_URL}}template_images/back_repeat2.jpg')");
        }
</script>
  

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31450550-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- 
   # Auto Complete function
-->
<style>
  .ui-autocomplete-loading { background: white url('{{MEDIA_URL}}images/ui-anim_basic_16x16.gif') right center no-repeat; }
  </style>
 <style>
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
    .ui-autocomplete-category2{
      background: #EEE;
      border-radius: 5px;
    }
/*
    li {
    border: 1px solid black;
}
.ui-state-active {
    background: black;
    color: white
}
.ui-state-active:hover {
    background: red;
    color: green;
}
li.ui-menu-item a {
    display: block;
}​*/

/* my styles*/
.ui-autocomplete{
  min-width: 300px;
  border-radius: 5px !important;
}
.ui-widget{
  font-size: 0.9em;
}
.ui-menu .ui-menu-item-a{
  padding: 0;

}
.ui-menu .ui-menu-item a {
  padding: 2px;
  display: inline-block;
  width: 100%
}
.ui-state-hover{
  border: 1px solid black;
  border-radius: 5px !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  background: rgba(135, 206, 235, 0.99)
}

.ui-menu-item{
  display: inline;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  border: 0px solid black;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-radius: 0px;
  }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-radius: 0px;
  }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0px;
  }
.auto_image{
    float: left;
    display: block;
  }
.auto_text{
    float: left;
    display: block;
    padding-left: 5px;
  }
</style>

<script type="text/javascript">
$(function() {
$("#movies").autocomplete({
minLength: 2,
      source: "/all/searching/",
      focus: function( event, ui ) {
        $( "#movies" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
                  { 
            window.location.href = ui.item.url;
        }   
      }
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
       var t = item.label.replace(new RegExp('(' + this.term + ')', 'gi'), "<span style='font-weight:bold;color:Blue;'>$1</span>");
      return $( "<li></li>" )
        .data( "item.autocomplete", item )
        .append( "<a><div class='auto_image'><img src='"+item.icon+"'></div>&nbsp;<div class='auto_text'>"+ t + "</div></a>" )
        .appendTo( ul );
    };
  });
  </script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=411415555554087";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Place this tag where you want the +1 button to render -->


<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<style type="text/css">
  ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}
{%if request.GET.iframe%}
.navbar-fixed-top{
  display: none;
}
{%endif%}

</style>

<!-- Le styles -->
    <link href="{{ MEDIA_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    
  </head>
  
  <body id="page_body">
<header>
    <div class="navbar navbar-fixed-top" id="topnavbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{%url index_main %}">Project Movies</a>
          <div class="nav-collapse">
            <ul class="nav">
              
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="{%url index_main %}"><i class="icon-home icon-white"></i> Home <b class="caret"></b></a>
              <ul class="dropdown-menu">
              
      <li><a href="/movies/latest/theaters/"><i class="icon-play"></i> In Theaters</a></li>
      <li><a href="/movies/latest/trailers/"><i class="icon-facetime-video"></i> Latest Trailers</a></li>
      <li><a href="/movies/latest/releasing/"><i class="icon-fast-forward"></i> Upcoming Movies</a></li>
      <li><a href="/movies/latest/news/"><i class=" icon-comment"></i> Latest News</a></li>

       <li><a href="/movies/latest/db/"><i class="icon-book"></i> Latest Additions to database</a></li>

            </ul>
              </li>

              <li class="dropdown">
    				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list icon-white"></i> List<b class="caret"></b></a>
			        <ul class="dropdown-menu">
          			<li class=""><a href="/movie/all/"><i class="icon-film icon-black"></i> All Movies</a></li>
            <li class=""><a href="/v1/#/Actors"><i class="icon-star icon-black"></i> All Persons</a></li>
          			<li><a href="/image/list/"><i class="icon-picture icon-black"></i> Images</a></li>
                <li><a href="/image/background/all/"><i class="icon-th-large icon-black"></i> All Back Images</a></li>
        		</ul>
      		</li>
            
              <li><a href="/music/ld/"><i class="icon-music icon-white"></i> Music</a></li>

            </ul>
            <form class="navbar-search pull-left" action="/search/all" method="GET">
            <input id="movies" type="text" class="span2 search-query " placeholder="Search Movies or Actors">
          </form>
          <ul class="nav pull-left">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share icon-white"></i> Share This Page
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://twitter.com/share" class="twitter-share-button pull-right" data-via="w4rlock1" data-size="small">Tweet</a></li>
                  <li><hr/></li>
                  <li>&nbsp;<div class="g-plusone" data-annotation="inline" data-width="120"></div></li>
                  <li><hr/></li>
                  <li>
                  <div class="fb-like" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true"></div>
                  </li>
                  
                </ul>
              </li>
          </ul>
          <ul class="nav pull-left">
          <li>
            
              {%if name.person_name%}  
            <a href="/user/contribute/?person_id={{name.id}}"><i class="icon-plus icon-white"></i> add info about {{name.person_name|truncatechars:6}}</a>
              {%else%}
                {%if name.movie_name%}
                <a href="/user/contribute/?movie_id={{name.id}}"><i class="icon-plus icon-white"></i>add info about {{name.movie_name|truncatechars:6}}</a>
                {%endif%}
              {%endif%}
            {%if back_image%}
            <a href='#' onclick="remove_back_img();">Annoying background ?</a>
            {%endif%}
          </li>
             <!-- <li><a href="{{request.path}}"><i class="icon-refresh icon-white"></i></a></li>
           -->
            </ul>

          {%if user.username%}
          			<ul class="nav pull-right">	
          				<li class="dropdown">

   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Logged in as {%if user.first_name%} {{ user.first_name|default:" " }} {{ user.last_name|default:" " }}{%else%}{{user.username}}{%endif%}{% if last_login%}&nbsp;-&nbsp;{{last_login}}{%endif%}
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{%url user_profile_main%}">Profile</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="{% url user_logout %}?next={{request.path}}"><i class="icon-off icon-black"></i> Logout</a></li>
              </ul>
            </li>
          			</ul>
          {%else%}
{%comment%}

{%endcomment%}
          			<ul class="nav pull-right">
            		<li><a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">Login</a></li>
            		<li class="divider-vertical"></li>
            		<li><a href="/user/register/">Register</a></li>
          			</ul>
          	{%endif%}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</header>
{%block content%}
{%endblock%}

<div class="span12" id="page_footer">
  <hr>
    <footer>
        <p>&copy; Company not yet 2012</p>
        <ul id="technologies">
              <li>We Use</li>
              <li><a href="http://www.djangoproject.com/">Django 1.4</a></li>
              <li><a href="https://github.com/twitter/bootstrap/">bootstrap</a></li>
        </ul>
      </footer>
</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
    
  </body>


<script type="text/javascript">
  var display_none = { display: 'none' };
  var top_pos = {top: '0px'}
  if (top == self) { 
   } 
   else { 
      $("#topnavbar").css(display_none)    
      $(".subnav-fixed").css(top_pos)
      $('#page_footer').css(display_none)
    }
</script>

<style type="text/css">
@media (min-width: 980px) {
  #topnavbar{
    max-height: 40px;

  }
}
footer p{
  font-size: 10px;
}
#technologies {
  font-size: 10px;
}
#technologies li + li::before {
padding: 0 4px;
content: " / \20\0020";
}
#page_footer li {
display: inline;
height: 16px;
line-height: 16px;
}
#technologies li{
  color: skyblue;
}
#page_footer ul{
  margin: 0px;
  padding: 0px;
}
#page_footer p{
  margin: 0px;
  padding: 0px;
}
#page_footer hr{
  margin: 5px;
}
footer{
  
}
</style>
</html>
		