{% extends 'index_base_page.html'%}
{% block content2 %}
<style type="text/css">
.modal{
  position: fixed;

    background:url('{{MEDIA_URL}}template_images/back_repeat2.jpg');

    background-repeat:repeat;  
    background-attachment:fixed;

}
.modal.fade.in {
  margin: 0px;
height: 95%;
width: 95%;
top: 20px;
left: 20px;
display: block;
}
  .fixed{
    position: fixed;
    top: 40px;
    width: 100%;
    margin-bottom: 20px;
  }

    .boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}

  #page_body{
    background: none;
  }

  .wiframe{
    width: 100%;
  }
  .fixed-iframe{
    position: fixed;
    top: 85px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    var theLoc = $('#alert_div').position().top;
    $(window).scroll(function() {
        if(theLoc >= $(window).scrollTop()) {
            if($('#alert_div').hasClass('fixed')) {
                $('#alert_div').removeClass('fixed');
                $('#wiframe').removeClass('fixed-iframe');
                document.getElementById('wiframe').style.width= '100%';
            }
        } else { 
            if(!$('#alert_div').hasClass('fixed')) {
                $('#alert_div').addClass('fixed');
                $('#wiframe').addClass('fixed-iframe');

                var newwidth=($(window).width())/2 -40;
                document.getElementById('wiframe').style.width=newwidth+'px';
            }
        }
    });
});
</script>
  <script type="text/javascript">
   jQuery(function() {
       jQuery("#id_movie_date").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'yy-mm-dd' ,
                                                yearRange: '1930:2020'
                                            });
   });
</script>
 <div class="alert" id="alert_div">
       <a data-toggle="modal" href="#modal_movie" >wiki frame</a> 
</div>

<div class="container-fluid">
  <div class="row-fluid"> 
    <!--
    <div>
    {%for table in tables%}
    <br/>
      <table class="table table-striped table-bordered table-condensed">
        {%for row in table%}
          <tr>
            {%if row.head%}
            {%for head in row.head%}
            <th>{{head|safe}}</th>
            {%endfor%}
            {%endif%}
            {%if row.cols%}
            {%for col in row.cols%}
            <td>{{col|safe}}</td>
            {%endfor%}
            {%endif%}
          </tr>
        {%endfor%}
      </table>
    {%endfor%}
  </div>
  <hr/>
  <div>
    {{plot|safe}}
  </div>
  <hr/>
  <div>
    {{ptext|safe}}
  </div>
  <div>
    {%for image in images%}
    <img src='{{image}}' height='200px'/>
    {%endfor%}
  </div>

-->

<div class="span6">

<form action="{% url movie_parser_adding %}" method="post" enctype="multipart/form-data">
  {%csrf_token%}

    <input id='id_movie_wlink' name='movie_wlink' type='hidden' value='{{request.GET.wlink}}'>
        
 <textarea id="id_movie_summary" name="movie_summary" type='hidden'>{{plot|safe|truncatechars:5000}}</textarea>


        <label for="id_movie_date">movie_date</label>
        <input name="movie_date" value="1800-01-01" class="vDateField" type="text" id="id_movie_date" size="10" />


        <label for="id_movie_plot">plot:</label>
        
        <textarea id="id_movie_plot" class= 'boxsizingBorder' rows="10" cols="50" name="movie_plot">{{plot|safe|truncatechars:500}}</textarea>
        



        <label for="id_movie_info">movie_info:</label>
         <textarea id="id_movie_info" class= 'boxsizingBorder' rows="10" cols="50" name="movie_info">{{ptext|safe}}</textarea>
        
        {%for image in images%}
          <label for="id_imagefile">movie_image:</label>
          <input type="text" name="imagefile{{forloop.counter}}" id="id_imagefile" value='{{image}}'/><img height='80px' src='{{image}}' />
          <br/>
        {%endfor%}
          <label for="id_imagefile">movie_image:</label>
          <input type="text" name="imagefile0" id="id_imagefile" value='{{image}}'/><img height='80px' src='{{image}}' />
          <br/>
          <label for="id_back_imagefile">movie_back_image:</label>
          <input type="text" name="back_imagefile" id="id_back_imagefile" value=''/>
          <br/>
    <p><input type="submit" class='btn' value="Add movie and proceed to movie casting" /></p>
</form>

</div>
      <div class="span6">
        
          <iframe src="http://en.wikipedia.org/wiki/{{request.GET.wlink}}" class="wiframe" style='width: 100%' marginheight="0" frameborder="0" id="wiframe"></iframe>
            <script type="text/javascript">
                var newheight=$(window).height() - 110;
                document.getElementById('wiframe').height= (newheight) + "px";

                  window.onresize = function(event) {
                     var newheight=$(window).height() - 110;
                document.getElementById('wiframe').height= (newheight) + "px";
                  }
            </script>
        
        </div>

  </div>
</div>

<!-- otehr layers-->
<div class="modal hide fade" style="display: none; " id="modal_movie" style="height: 100%; width: 100%">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h6><a id='iframe_link' href='http://en.wikipedia.org/wiki/{{request.GET.wlink}}';>Go to this page</a></h6>
  </div>

    <iframe id="iframe_movie"  src="http://en.wikipedia.org/wiki/{{request.GET.wlink}}" width="100%" height="90%" frameborder="0">
        
      </iframe>
</div>
{% endblock %}
