{%extends "base_v1.html"%}
{% block base_v1_extra_head %} 
<script src="{{MEDIA_URL}}template_scripts/indexv1/social.js"></script>
{% endblock %}
{% block base_v1_title %}{{person_info.name}} - {% endblock %}
{%block content_base_v1%}


<div class="person_body person_more_info" style="display: none; border-radius: 9px;" id="person_more_info">
    <div class="person_gender" style="margin: 10px;font-size: 13px !important">
    <p style="font-size: 10px; line-height: 15px;">
        <strong>Gender: </strong>{{person_info.gender}} <br/>
        <strong>Spouse: </strong>{{person_info.sp}} <br/>
        <strong>DOB: </strong>{% if person_info.dob.known %} {{person_info.dob.day}} / {{person_info.dob.month}} / {{person_info.dob.year}} &nbsp;&nbsp;{{person_info.dob.age}} years old {% endif %}
    </p>
    </div>

    {% if person_info.info %}
        <hr/>
        <div class="person_summary" style="margin: 10px">
            <strong>Info from wikipedia</strong> <br/>
            {{person_info.info}}
        </div>
    {%endif%}

</div>

    <div class="person_body" id="person_body">
        <div class="person_banner_img" >
            <img src="{{person_info.profile_image_small}}">
        </div>
        
        <div class="image_side_content" id="image_side_content">
            <div class="person_title" id="person_title">
                <a href="/person/{{person_info.id}}/{{person_info.name.split|join:"-"}}/">  {{person_info.name}} </a>
            </div>

            <hr/>
            <div class="person_info" id="person_info">
                {{person_info.bio}}
            </div>
        </div>

        <div class="image_bottom_content" id="image_bottom_content">
            <div class="person_movies_body" id="person_movies_body">
                <div class="person_movies_heading" id="person_movies_heading">
                    Movies Acted
                </div>
                
                <div class="movie_items" id="movie_items">
                {% for each_movie in person_info.movies %}
                    <div class="movie_box_main">
                        <div class="movie_box_image" id="movie_box_image">
                            <img src="{{each_movie.banner_image_small}}">
                        </div>
                        
                        <div class="movie_box_content" id="movie_box_content_id_{{each_movie.id}}">
                                <div class="movie_box_content_name">
                                    <a href="/movie/{{each_movie.id}}/{{each_movie.name.split|join:"-"}}/">{{each_movie.name}}</a> 
                                </div>
                                <div class="movie_box_content_year" id="movie_box_content_year">
                                    <a href="/year/{{each_movie.year}}/">{{each_movie.year}}</a>
                                </div>
                                <div class="movie_box_content_prof">    
                                	{% for each_prof in each_movie.professions %}
                                		<a href="/prof/{{each_prof.id}}/">{{each_prof.name}}</a>
                                	{% endfor %}
                                </div>    
                                <div class="movie_box_content_prof">          
                                    <a href="/char/{{each_movie.character.id}}/">{{each_movie.character.name}}</a>      
                                </div>    
                             <!--   <div class="movie_box_content_extra">          
                                    <a href="/char/[[character.id]]/">[[character.name]]</a>      
                                </div> -->
                            </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
     </div>

        <div class="movie_body_right_menu person_body_right_menu" >
    <!-- css in movie_info -->
        <div class="right_menu_item" >
            <a href="#/info/" onClick="show_person_more_info ()">More Info</a>
        </div>
        <div class="right_menu_item">
            <a>All Movies</a>
        </div>
        <div class="right_menu_item">
            <a>All Images</a>
        </div>
        <div class="right_menu_item">
            <a>related news</a>
        </div>
        <hr/>
        <div class="right_menu_item">
            <a href="/user/contribute/?person_id=[[id]]" target="_blank">Report Error</a>
        </div>
        
    </div>

<div class="person_images_all" id="person_images_all">
        {% for each_image in person_info.images %}
        <a href="{{each_image.actual}}" target="_blank"> <img src="{{each_image.small}}"> </a>
        {% endfor %}
</div>    


{%endblock%}