{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Project Movies' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Project Movies administration' %}</h1>
{% endblock %}
{% block extrahead %}
<style type="text/css">
	#header{
		background: black;
		color: white;
	}
	#branding h1{
		color: #EEE;
	}
</style>
{% endblock %}
{% block nav-global %}{% endblock %}
