{%extends "index_base_page.html"%}

{%block content2%}

<div class="span9">

<h6>Redirecting...............</h6>

<script type="text/javascript">
window.location = "{{redirect_url}}"
</script>


</div>
{%endblock%}