{%extends "v1.html"%}

{%block content%}
<style type="text/css" media="screen">
    .main_body{
        padding-top: 20px;
    }
    /*movie_base_page*/
</style>

<div class="span9">
{%if user.username%}

  <h3>User data:</h3>

  <table class="table">
    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
    <tr class="even"><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
  </table>
  <p>
   <a href="{% url user_logout %}?next={{request.path}}"><h6>Logout</h6></a>
 </p>
 {{user.get_all_permissions}}
{%else%}
<script type="text/javascript">
window.location = "{% url django.contrib.auth.views.login %}"
</script>

{%endif%}
</div>
{%endblock%}