<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Movies </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    <link href="{{MEDIA_URL}}jquery-ui.css" rel="stylesheet">

    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">


    <script src="{{MEDIA_URL}}jquery.min.js"></script>
    <script src="{{MEDIA_URL}}jquery-ui.min.js"></script>

    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="{{MEDIA_URL}}bootstrap/navbar-scroll/navbar-scroll.js" ></script>
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap.min.js"></script>

    
    <script src='{{MEDIA_URL}}template_scripts/indexv2/social.js'></script>

<style type="text/css">
  ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}

</style>

<style type="text/css">
body{
    background: white;
}

/*scroll bars*/
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
/*scroll bar style ends*/
    .container{
        border: 1px solid #EEE;
        margin: auto;
        width: 98%;
        margin-top: 40px;
    }
    .leftbox{
        float: left;
        width: 335px;
    }
    .rightbox{
        float: left;
        margin: auto;
    }
    .itemslist{
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 5px;
        border: 1px solid white;
        box-shadow: 0px 2px 4px #EEE;
    }
    
    .eachitem{
        float: left;
        width: 300px;
        height: 80px;
        margin-top: 5px;
        border: 1px solid #EEE;
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
        -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
        -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
        box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
        overflow: hidden;
    }
    .eachitem:hover{
        border: 1px solid rbga(0,0,0,0.5);
    }

    .searchbox_holder{
        width: 100%;
        height: 36px;
        float: left;

    }
    #banner_img{
        float: left;
        max-width: 50%;
    }
    #each_item_title{
        
    }
    #each_item_title span{
        float: left;
        color: #36C;
        font-family: inherit;
        font-weight: bold;
        text-rendering: optimizelegibility;
        text-overflow: ellipsis;
        margin-left: 5px;
        width: 210px;
        word-wrap: break-word;
    }
    .search_input{
        width: 315px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }


    #each_item_cast {
        font-size: 13px;
        float: left;
        width: 210px;
        word-wrap: break-word;
        margin-left: 5px;
    }
    #each_item_cast li + li::before {
        padding: 0 4px;
        content: " / \20\0020";
    }
    #each_item_cast li {
        display: inline;
        height: 16px;
        line-height: 16px;
    }
    #each_item_cast li{
        color: black;
    }
    #each_item_cast ul{
        margin: 0px;
        padding: 0px;
    }
    #each_item_days_left{
        float: left;
        margin-left: 5px;
        width: 210px;
        word-wrap: break-word;
    }
/*  //////////////////////////////////// */
    .menu{
        margin-left: 2px;
        margin-top: 3px;
        margin-right: 5px;
        overflow: hidden;
        max-height: 32px;
    }
    .itemsdetails{
        float: left;
        height: inherit;
        border: 1px solid #EEE;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
        border-color: #CCC;
        border-style: solid;
        border-width: 1px;
    }
    .itemdetails_menu{
        width: 100%;
        height: 36px;
        float: left;
    }
    .breadcrumb{
        border: 0px;
        max-height: 32px
    }

/* /////////////////  */
 .cast_box_main{
    width: 250px;
    height: 80px;
    margin: 5px;
    overflow: hidden;
    float: left;
    background: white;
    white-space: nowrap;
    -webkit-box-shadow: 0px 2px 4px #EEE;
        -moz-box-shadow: 0px 2px 4px #EEE;
        -o-box-shadow: 0px 2px 4px #EEE;
        box-shadow: 0px 2px 4px #EEE;
  }
  .cast_box_image{
    float: left;
    max-width: 50%;
  }
  .cast_box_content{
    float: right;
    width: 165px;
  }
  .cast_box_content_char{
    width: 100%
  }
  .cast_box_content_prof{
      width: 100%;
  } 
  
  .cast_box_content_name{
        width: 100%;
  } 
  .cast_box_content_name a{
    color: black;
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
    text-overflow: ellipsis;
  }
  .cast_box_main:hover{
    background: rgba(255, 255, 255, 0.5);
  }
  .cast_box_content_char a{
    text-rendering: optimizelegibility;
    text-overflow: ellipsis;
  }
  .cast_box_content_prof a{
     text-rendering: optimizelegibility;
    text-overflow: ellipsis;
  }
  .cast_box_content_prof li + li::before {
        padding: 0 4px;
        content: " / \20\0020";
    }
     .cast_box_content_prof li {
        display: inline;
        height: 16px;
        line-height: 16px;
    }
    .cast_box_content_prof li{
        color: black;
    }
    .cast_box_content_prof ul{
        margin: 0px;
        padding: 0px;
    }
    /*
    */

       .itemdetails_movie{
        /*display:none;*/
        /*margin-left: 5px;*/
        
    }
    .movie_banner_image{
        width: 200px;
        height: 300px;
        float:left;
    }
    .movie_main_cast{
        float: left;
    }
    .movie_plot{
        float:left;
        margin-left: 5px;
    }
</style>
    
</head>

<body>
    <header>
    <div class="navbar navbar-fixed-top" id="topnavbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{%url index_main %}">Project Movies<span style='font-size:10px'>[BETA v0.2r]</span> </a>
          <div class="nav-collapse">
            <ul class="nav" id="main_menu_type_1" style="display:none">
              
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="{%url index_main %}"><i class="icon-home icon-white"></i> Home <b class="caret"></b></a>
              <ul class="dropdown-menu">
              
      <li><a href="#" onclick='loadintheaters()'><i class="icon-play"></i> In Theaters</a></li>
      <li><a href="#"><i class="icon-facetime-video"></i> Latest Trailers</a></li>
      <li><a href="#" onclick='loadreleasing()'><i class="icon-fast-forward"></i> Upcoming Movies</a></li>
      <li><a href="#"><i class=" icon-comment"></i> Latest News</a></li>

       <li><a href="#" onclick='loadlatestdb()'><i class="icon-book"></i> Latest Additions to database</a></li>

            </ul>
              </li>

              <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list icon-white"></i> List<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li class=""><a href="/movie/all/"><i class="icon-film icon-black"></i> All Movies</a></li>
            <li class=""><a href="{% url movie_persons_listall %}"><i class="icon-star icon-black"></i> All Persons</a></li>
                    <li><a href="/image/list/"><i class="icon-picture icon-black"></i> Images</a></li>
                <li><a href="/image/background/all/"><i class="icon-th-large icon-black"></i> All Back Images</a></li>
                </ul>
            </li>
            
              <li><a href="/music/ld/"><i class="icon-music icon-white"></i> Music</a></li>

            </ul>
            <ul class="nav" id="main_menu_type_2" style="display:none">
            <li><a href="#" onclick='loadintheaters()'><i class="icon-play icon-white"></i> In Theaters</a></li>
            <li><a href="#" onclick='loadreleasing()'><i class="icon-fast-forward icon-white"></i> Upcoming Movies</a></li>
            <li><a href="#" onclick='loadlatestdb()'><i class="icon-book icon-white"></i> Latest Additions to database</a></li>

                <li><a href="/music/ld/"><i class="icon-music icon-white"></i> Music</a></li>
            </ul>
                 <ul class="nav pull-left">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-share icon-white"></i> Share This Page
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://twitter.com/share" class="twitter-share-button pull-right" data-via="w4rlock1" data-size="small">Tweet</a></li>
                  <li><hr/></li>
                  <li>&nbsp;<div class="g-plusone" data-annotation="inline" data-width="120"></div></li>
                  <li><hr/></li>
                  <li>
                  <div class="fb-like" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true"></div>
                  </li>
                  
                </ul>
              </li>
          </ul>
          {%if user.username%}
                    <ul class="nav pull-right"> 
                        <li class="dropdown">

   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Logged in as {%if user.first_name%} {{ user.first_name|default:" " }} {{ user.last_name|default:" " }}{%else%}{{user.username}}{%endif%}{% if last_login%}&nbsp;-&nbsp;{{last_login}}{%endif%}
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{%url user_profile_main%}">Profile</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="{% url user_logout %}?next={{request.path}}"><i class="icon-off icon-black"></i> Logout</a></li>
              </ul>
            </li>
                    </ul>
          {%else%}
{%comment%}

{%endcomment%}
                    <ul class="nav pull-right">
                    <li><a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">Login</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="/user/register/">Register</a></li>
                    </ul>
            {%endif%}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</header>

<!--  -->

<div class='container'>
<div class='leftbox'>
    <div class='searchbox_holder' id='all_search_box_holder'>
        <form class="navbar-search pull-center">
            <input id="search-center" type="text" class="ui-autocomplete-input search_input" placeholder="Search Movies or Actors " autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
        </form>
     </div>
    <div class='itemslist' id='itemslist'>
        <div class="progress progress-striped active" id='itemlist_loader'>
            <div class="bar" style="width: 100%;">Loading List....</div>
        </div>
       <!--  <div class='eachitem' id='m_7' onclick='load_item_data(this.id)'>
            <img src='http://127.0.0.1:8000/media/cache/56/0a/560a9aa26c49f1ca0cbff2a7b45baa46.jpg' id='banner_img' />
            <div id='each_item_title'><span>Dookudu</span></div>
            <div id='each_item_cast'>
                <li>asdf</li>
                <li>asdf</li>
                <li>asdf</li>
            </div>
            <div id='each_item_days_left'>
                daysleft: 234
            </div>
        </div>  -->
    </div>
</div>


<div class='rightbox'>
    
    <div class='itemdetails_menu' id='itemdetails_menu'>
         <div class='menu'>
<ul class="breadcrumb" id="menu_items">
  <li>
    <a href="#" onclick='loadhome()'>Home</a> <span class="divider">/</span>
  </li>
</ul>
         </div>
    </div>

     <div class="progress progress-striped active" id='itemdetails_loader' style='display:none;width: 50%; margin: auto'>
            <div class="bar" style="width: 100%;">Loading data....</div>
    </div>
    <div class='itemsdetails' id='itemdetails'>
        <div class='itemdetails_movie' id='itemdetails_movie'>
            <div class='movie_banner_image' id='movie_banner_image'>

            </div>
            <div class='movie_plot' id='movie_plot'>
            </div>
            <div class='movie_main_cast' id='movie_main_cast'>
            </div>
        </div>

    </div>
</div>

</div>

</body>

<script type="text/javascript">
    var datax={'latestdb':''};
    var data_items = {};
    search_string_previous = '';
</script>
<script type="text/javascript">
    //menu type depends on resolution
    if($(window).width()>1150){
        $('#main_menu_type_2').show()
        $('#main_menu_type_1').hide()
    }else{
        $('#main_menu_type_1').show()
        $('#main_menu_type_2').hide()
    }
</script>

<script type="text/javascript">
    // custom search

    $('#search-center').bind('input', function() {
                querystring = $(this).val();
                if(querystring.length > 2){
                    if (querystring != search_string_previous){
                        search_string_previous = querystring;
                        search_center(querystring);
                    }
                }
        });
    function search_center(querystring){
        url = '/v2/api/searching/?term='+querystring;
        $('#itemlist_loader').toggle('display');
        $('.eachitem').remove();
        $.getJSON(url,function(data){
            arrange_elements(data);
        })
    }
</script>

<script type="text/javascript">
function loadreleasing(){
    $('#itemlist_loader').toggle('display');
    $('.eachitem').remove();
    if (typeof datax['releasing'] == "undefined") {
        url = "/v2/api/releasing/";
        $.getJSON(url,function(data){
            datax['releasing'] = data;
            document.location.hash = '/upcomming';
            arrange_elements(data);
        })
    }
    else{
        document.location.hash = '/upcomming';
        arrange_elements(datax.releasing);
    }
}
function loadintheaters(){
    $('#itemlist_loader').toggle('display');
    $('.eachitem').remove();
    if (typeof datax['intheaters'] == "undefined") {
        url = "/v2/api/intheaters/";
        $.getJSON(url,function(data){
            datax['intheaters'] = data;
            document.location.hash = '/latesttheaters';
            arrange_elements(data);
        })
    }
    else{
        document.location.hash = '/latesttheaters';
        arrange_elements(datax.intheaters);
    }
}
function loadlatestdb(){
    $('#itemlist_loader').toggle('display');
    $('.eachitem').remove();
    arrange_elements(datax.latestdb);
    document.location.hash = '/latestdb';
}
function loadhome(){
    loadlatestdb();
}
</script>
<script type="text/javascript">
    

    function load_item_data(id){       
    console.log(id) 
        $('#itemdetails_loader').show();
        $('#itemdetails').hide();
        if (typeof data_items[id] == "undefined"){
            a = id.split('_');
            url = '/v2/api/'+a[0]+'/cast/'+a[1]+'/';
             $.getJSON(url,function(data){
                data_items[id] = data;
                display_item_data(data);
            })
        }
        else {
                 display_item_data(data_items[id]);
        }
    }
    
    function display_item_data(data){
        document.location.hash = '/m/'+data.id+'/'+data.name;
        this_html = '<img src=\''+data.banner_image_small+'\'/>';
        $('#movie_banner_image').html(this_html);

        this_html = '';
         $('#movie_main_cast').html('');
        $.each(data.persons, function(i,person){
            this_html = '<div class="cast_box_main">';
            this_html += '<div class=\"cast_box_image\">';
            // onmouseover="loadiframe('{{person.id.id}}')" onmouseout="unloadiframe()"
            this_html += '<img src=\"'+person.profile_image_small+'\"style=\"\" '+"onmouseover=\"loadiframe(\'"+person.id+"\')\" onmouseout=\"unloadiframe()\""+' >';
            this_html += '</div>';
            this_html += '<div class=\"cast_box_content\">';
            this_html += '<div class=\"cast_box_content_name\">';
            this_html += '<a href=\"#\">'+person.name+'</a> ';
            this_html += '</div>';
            this_html += '<div class="cast_box_content_prof">';
            this_profession = '<ul>';
            $.each(person.professions,function(i,profession){
                this_profession += '<li><a href=\'#\' >'+profession.name+'</a></li>';
            })
            this_profession += '</ul>';
            this_html += this_profession;
            this_html += '</div>';
            this_html += '<div class="cast_box_content_prof">';
            this_html += person.character_name;
            this_html += '</div>';
            this_html += '</div></div>';
            $(this_html).appendTo('#movie_main_cast');
        });
        // $('#movie_main_cast').html(this_html)

        this_html = '';
        this_html = data.plot;
        this_html_days = '';
        if(data.status == "D" && data.days_left <= 100 && data.days_left > 0){
            var day = new Date(data.date.year,data.date.month,data.date.day);
            this_html_days = "<span class=\"label label-info\">";
            this_html_days += "Releasing in "+data.days_left+" days on ";
            this_html_days += day.getDate() +" "+month[day.getMonth()]+"</span>";
            if(day.getDay() == 0 || day.getDay() == 6 || day.getDay() == 5){
                this_html_days += " <span class=\"badge badge-warning\">"+weekday[day.getDay()]+"</span>";
            }else {this_html_days += "<span class=\"badge\">"+weekday[day.getDay()]+"</span>"}
            
            this_html_days += "<br/>";
        }
        this_html_title = "<h5>"+data.name+"</h5>";
        
        this_html = this_html_days +this_html_title+this_html;
        $('#movie_plot').html(this_html);
        $('#itemdetails').show();
        $('#itemdetails_loader').hide();
        
        menu_item="<li><a href=\"#/m/"+data.id+"/"+data.name+"\" onclick=\'load_item_data(\""+data.jsid+"\")\'>"+data.name+"</a> <span class=\"divider\">/</span></li>"
        menu_html = $('#menu_items').html()
        menu_html = menu_item + menu_html
        $('#menu_items').html(menu_html)
    }
</script>

<script type="text/javascript">

    height = $(window).height();
    height = height - 100;
    height2 = height/2 -50;
    height2 = height2 +'px';
    height = height + 'px';
    $('#itemlist_loader').css('margin-top',height2);
    $('#itemdetails_loader').css('margin-top',height2);
    $(".itemslist").css("height", height);
   // $('#itemdetails').css("height", height);
    $(".itemslist").css("overflow-y", "scroll");

    width = $('.container').width();
    width = width - $('.leftbox').width() - 19;
    heightr = $('.leftbox').height();
    heightr += 'px';
    $(".rightbox").css("overflow-y", "scroll");
    widthx=width-20;
    widthx += 'px';
    width = width+'px';
    $('.rightbox').css("width",width);
    $('.itemsdetails').css("width",widthx);
     $('.rightbox').css("max-height",heightr);

    width_plot = $('#itemdetails').width() - 209;
    width_plot += 'px';
    $('#movie_plot').css("width",width_plot);

    var weekday=new Array(7);
    weekday[0]="Sunday";
    weekday[1]="Monday";
    weekday[2]="Tuesday";
    weekday[3]="Wednesday";
    weekday[4]="Thursday";
    weekday[5]="Friday";
    weekday[6]="Saturday";

    var month=new Array();
    month[0]="January";
    month[1]="February";
    month[2]="March";
    month[3]="April";
    month[4]="May";
    month[5]="June";
    month[6]="July";
    month[7]="August";
    month[8]="September";
    month[9]="October";
    month[10]="November";
    month[11]="December";
    
    window.onresize = function(event){
         //menu type depends on resolution
    if($(window).width()>1150){
        $('#main_menu_type_2').show()
        $('#main_menu_type_1').hide()
    }else{
        $('#main_menu_type_1').show()
        $('#main_menu_type_2').hide()
    }
        height = $(window).height();
        height = height - 100;
        height2 = height/2 -50;
        height2 = height2 +'px';
        height = height + 'px';
        $('#itemlist_loader').css('margin-top',height2);
        $('#itemdetails_loader').css('margin-top',height2);
        $(".itemslist").css("height", height);
        $('#itemdetails').css("height", height);
        $(".itemslist").css("overflow-y", "scroll");

        width = $('.container').width();
        width = width - $('.leftbox').width() - 19;
        heightr = $('.leftbox').height();
        heightr += 'px';
        $(".rightbox").css("overflow-y", "scroll");
        widthx=width-20;
        widthx += 'px';
        width = width+'px';
        $('.rightbox').css("width",width);
        $('.itemsdetails').css("width",widthx);
        // $('.rightbox').css("height",heightr)

        width_plot = $('#itemdetails').width() - 209;
        width_plot += 'px';
        $('#movie_plot').css("width",width_plot);

    }


    if (datax.latestdb == '' ){
        url = "/v2/api/latestdb/";
        $.getJSON(url,function(data){
            datax.latestdb = data;
            arrange_elements(data);
        })
    }
    else{
        arrange_elements(datax.latestdb);
    }

    function arrange_elements(data){
         $.each(data, function(i,movie){
            this_movie = '<div class=\'eachitem\' id=\''+movie.jsid+'\' onclick=\'load_item_data(this.id)\' >'
            this_movie += '<img src=\''+movie.banner_image_small+'\' id=\'banner_img\' />'
            this_movie_name = movie.name
            
            if (movie.date.year != 1800){
                this_movie_name += ' ('+movie.date.year+') '
            }

            if(movie.days_left>0 && movie.days_left<100){
                this_movie_name += ' '+movie.days_left +' days left'
            }
            this_movie += '<div id=\'each_item_title\'><span>'+this_movie_name+'</span></div>'
            this_movie_persons = '<div id=\'each_item_cast\'>'
            $.each(movie.persons, function(i,person){
                this_movie_persons += '<li>'
                this_movie_persons += person.name
                this_movie_persons += '</li>'
            })
            this_movie_persons += '</div>'
            this_movie += this_movie_persons
            this_movie += '</div>'
            $(this_movie).appendTo("#itemslist")
        })
         $('#itemlist_loader').toggle('display')
    }


    hash = document.location.hash;
    a = hash.split('/');
    if (a[1]=='m'){
        id = 'm_'+a[2];
        load_item_data(id);
    }
    else if(a[1]=='upcomming'){
        loadreleasing();
    }
    else if (a[1] == 'latesttheaters'){
        loadintheaters();
    }

</script>


<!-- 
    IFRAME FOR TEMP DISPLAY PERSON INFO
 -->

<iframe id="info_iframe" class="info_iframe" style="display:none" onmouseover="keepiframe()" onmouseout="unloadiframe()"> </iframe>


<script type="text/javascript">

var mouseX;
var mouseY;
var now_person_id;
$(document).mousemove( function(e) {
   mouseX = e.pageX; 
   mouseY = e.pageY;
}); 


  function loadiframe(person_id){
    
    if (person_id==now_person_id){

    }
    else {
        document.getElementById('info_iframe').src="";
        document.getElementById('info_iframe').src="/ajx/pinfoframe/"+person_id+"/";  
        now_person_id = person_id;
    }
    
    $('#info_iframe').css({'top':mouseY-10,'left':mouseX})
    var widthsub = $(window).width() - mouseX
    
    
    if(widthsub < 470){
      wx = 470-Math.abs(widthsub);
      $('#info_iframe').css({'top':mouseY-10,'left':mouseX-wx});
    }

    var heightsub = $(window).height() - mouseY

    // if(heightsub < 320){
    //   wy = 320-Math.abs(heightsub);
    //  $('#info_iframe').css({'top':mouseY-wy})
    //  console.log(wy)
    //  console.log(mouseY)
    //  console.log(mouseY-wy)
    //  console.log(heightsub)
    //  console.log($(window).height())
    // }
$("#info_iframe").show();
  }
  function unloadiframe(){
    $("#info_iframe").hide();
    
  }
  function keepiframe(){
    $("#info_iframe").show();
  }


</script>
<style type="text/css">
  
  .info_iframe{
    height: 320px;
    width: 470px;
    position: absolute;
    top: 80px;
    left: 40px;
    border: 0px;
    background: #EEE;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    -moz-transition: opacity 0.13s linear 0s;
    -webkit-transition: opacity 0.13s linear 0s;
  }
</style>

<!-- 
    TEMP IFRAME ENDS
 -->

</html>