{% load admin_static %}{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}admin/css/base.css"/>
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}admin/css/base.css" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}admin/css/rtl.css" %} />{% endif %}

<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>

{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body 
class="{%comment%}{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %} page-body{%endcomment%}" id="page-body-id">

<!-- Container -->
<br/>



    {% if not is_popup %}
    <!-- Header -->
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{% url 'admin:index' %}">
        {% block branding %}{% endblock %}
        </a>
        {%block sidebar %}
 
        {%endblock%}

        <form class="navbar-search pull-left" action="/movie/search/" methoid="GET">
        <input type="text" class="span3" style="margin: 0 auto; z-index: 100" data-provide="typeahead" data-items="4" data-source='[{%block source_appname%}"nothing"{%endblock%}]'>

          </form>


        {% if user.is_active and user.is_staff %}
    

        <ul class="nav pull-right">
                  <li id="fat-menu" class="dropdown">
                   
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Welcome,'%} {% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}<b class="caret"></b></a>
                     {% block userlinks %}
            <ul class="dropdown-menu">
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                       <li> <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> </li>
                    {% endif %}
                
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                      <li class="divider"></li>
                      <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
                   
                    </ul>
                    {% endblock %}
                  </li>
        </ul>

            
        
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    </div>
</div>


    <!-- END Header -->
<div class="container-fluid">
    <div class="row-fluid">

    {% block breadcrumbs %}
    <div class="breadcrumbs breadcrumb span12">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
        
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        <div class="span12">
            {% block pretitle %}{% endblock %}
            
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            <div class="span12">
                {% block content %}
            
                {% block object-tools %}{% endblock %}
            
                {{ content }}
            
                {% endblock %}
            </div>
            <br class="clear" />
        </div>
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
</div>
<!-- END Container -->

</body>
{% block customscript %}
{%endblock%}


</html>
