 body{
            background: #BCBCB9;
             font-family: Verdana, Arial, sans-serif;
        }    
        .container{
            width: 1000px;
            height: 300px;
            margin: auto;
        }
        .design{
            border: 1px solid #EEE;
            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            margin-top: 40px;
            background: white;
            /*height: 500px;*/
            float: left;
            width: 100%;

            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 7px);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%,transparent 7px);
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%,transparent 7px);
            background: linear-gradient(top, rgba(0, 0, 0, 0.3) 0%,transparent 7px);
            background-repeat: no-repeat;
            background-size: 100% 7px;
            background-color: white;
        }
        .hidden{
            display: none;
        }

/* CSS FOR TOP 2 BARS*/
        .banner_ad_c{
            float: left;
            background: rgba(0, 0, 0, 0.8);
            height: 39px;
            width: 1002px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -webkit-linear-gradient(top, #333, #222);
            background-repeat: repeat-x;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);

            -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -o-linear-gradient(top, #333, #222);

            -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -o-linear-gradient(top, #333, #222);
        }
        .topnavbar{
            position: absolute;
            top: 40px;
            height: 40px;
            width: 1002px;
            color: white;
            background: rgba(0, 0, 0, 0.8);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -webkit-linear-gradient(top, #333, #222);
            background-repeat: repeat-x;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);      

            -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -o-linear-gradient(top, #333, #222);

            -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);      
            background-image: -o-linear-gradient(top, #333, #222);
        }
        .topnavbar ul{
            list-style: none;
        }
        .topnavbar li{
            float: left;
            display: block;
            text-align: -webkit-match-parent;
            padding: 8px 20px 12px;

            text-align: -webkit-match-parent;
            text-align: -webkit-match-parent;
        }
        .topnavbar  li  a{
            float: none;
            padding: 9px 10px 11px;
            line-height: 19px;
            color: #999;
            text-decoration: none;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
        .topnavbar  li  a:hover{
            background-color: transparent;
            color: #ffffff;
            text-decoration: none;
        }
        .project_title{
            float: left;
            display: block;
            padding: 8px 20px 12px;
            margin-left: -20px;
            font-size: 20px;
            font-weight: 200;
            line-height: 1;
            color: #999;
        }
        .project_title a{
            color: #999;
        }
/* CSS FOR TOP 2 BARS ENDS HERE*/


 /* CSS FOR FOOTER STARTS HERE */
        .footer{
            
            margin: auto;
            min-height: 100px;
            border-top: 1px dashed saddleBrown;

            float: left;
            background: #EEE;
            min-height: 100px;
            width: 1002px;

            
            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
        }
        .footer .bottom-content{
            color: black;
            padding-top: 8px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .footer .bottom-content a {
            color: black;
            font-size: 20px;
            font-variant: small-caps;
        }
        .footer .bottom-content p{
            font-size: 10px;
            margin: 0 0 10px;
        }
/* CSS FOR FOOTER ENDS HERE*/
