.movie_body{
    border: 1px solid #BCBCB9;
    border-radius: 9px;
    border-top-left-radius: 0;
    width: 760px;
    margin: auto;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;

    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
}
.movie_banner_img{
    width: 220px;
    height: 320px;
    border-right: 1px solid #BCBCB9;
    border-bottom: 1px solid #BCBCB9;
    float: left;

    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

    margin: 5px;
    margin-right: 0px;
}
.image_side_content{
    width: 499px;
    height: 325px;
    float: left;
    margin-left: 20px;
    overflow: hidden;
    border-bottom: 1px solid #BCBCB9;
}
.movie_title{
    width: 490px;
    overflow: hidden;
    color: black;
    font-weight: bold;
    font-size: 20px;
    /*line-height: 1;*/
    float: left;
    padding-top: 10px;
}
.movie_title a{
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-variant: small-caps;
}
.movie_title span{
    font-size: 13px;
}
.image_bottom_content{
    width: 750px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.movie_body_right_menu{
    /*float: left;*/
    width: 155px;
    /*min-height: 300px;*/
    margin: auto;
    margin-top: 20px;
    /*margin-left: 20px;*/
    overflow: hidden;
    color: #666;
    border: 1px solid #BCBCB9;
    padding: 10px;
    border-radius: 9px;

    background-color: #F5F5F4;
    background: -moz-linear-gradient(bottom, #E8E8E8 0%, #F2F2F1 50%);
    background: -ms-linear-gradient(bottom, #E8E8E8 0%, #F2F2F1 50%);
    background: -webkit-linear-gradient(bottom, #E8E8E8 0%, #F2F2F1 50%);
    background: linear-gradient(bottom, #E8E8E8 0%, #F2F2F1 50%);
    border: 1px solid #F6F6F5;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 7px;
    padding: 10px 12px;
    position: relative;
 
}
.right_menu_item{
    color: #666;
}
.right_menu_item a{
    color: #666;
    line-height: 30px;
}
.right_menu_item a:hover{
    color: blue;
    text-decoration: none;
}
.cast_heading{
    font-size: 15px;
    float: left;
    width: 100%;
    color: grey;
    font-weight: bold;
    margin-bottom: 10px;
    /*border-bottom: 1px solid #BCBCB9;*/
}
.cast_box_main {
    width: 234px;
    height: 80px;
    margin: 5px;
    overflow: hidden;
    float: left;
    background: white;
    white-space: nowrap;
    -webkit-box-shadow: 0px 2px 4px #EEE;
    -moz-box-shadow: 0px 2px 4px #EEE;
    -o-box-shadow: 0px 2px 4px #EEE;
    box-shadow: 0px 2px 4px #EEE;
    
    border-top-left-radius: 0px;
    /*border: 1px solid #BCBCB9;*/
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    border: 1px solid #EEE;
}
.cast_box_image {
    float: left;
    max-width: 50%;

    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.cast_box_image img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.cast_box_content {
    float: right;
    width: 150px;
}
.cast_box_content_name {
    width: 100%;
}
.cast_box_content_prof {
    width: 100%;
}
.cast_box_content_char {
    width: 100%;    
}
.cast_box_content_name a {
    color: black;
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
    text-overflow: ellipsis;
}
.cast_box_content_prof a {
    text-rendering: optimizelegibility;
    text-overflow: ellipsis;
}
 .movie_images_all{
    border: 1px solid #BCBCB9;
    border-radius: 9px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 760px;
    margin: auto;
    float: left;
    margin-left: 20px;
    margin-bottom: 40px;

    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
}
.movie_images_all img{
    /*border: 1px solid #BCBCB9;*/
    margin: 1px;
    float: left;
}
.movie_summary{
    font-size: 10px;
}
.movie_summary p{
    font-size: 10px;
}
.loading_bar_movie{
    float: left;
    width: 740px; 
    
    margin-left: 130px;
    margin-bottom: 100px;
    margin-top: 100px;
}