{%extends "base_v1.html"%}
{% block base_v1_extra_head %} 
<script src="{{MEDIA_URL}}template_scripts/indexv1/social.js"></script>
<script type="text/javascript" charset="utf-8" async defer>
    url = '/v1/api/m/backimages/'+{{movie_info.id}}+'/'
    $.getJSON(url, function(data) {
        all_images = data;
        random_image = all_images.backimages[Math.floor(Math.random()*all_images.backimages.length)];
        urlx = 'url('+random_image.actual+')'
        $('body').css({'background':urlx})
    });
</script>
{% endblock %}
{% block base_v1_title %}{{movie_info.name}} - {% endblock %}
{%block content_base_v1%}
<div class="movie_body movie_trailers" style="display: none; border-radius: 9px;" id="movie_trailers">
    <div class="" style="margin: 10px;float: left;">
        
        {% for each_trailer in movie_info.trailers %}
        <div class="movie_menu_trailers"style="">
        <a onClick='ajaxFunctionLoadiFrame("{{each_trailer.youtube_code}}");'>
    <img id="img_{{each_trailer.youtube_code}}" src="http://img.youtube.com/vi/{{each_trailer.youtube_code}}/0.jpg" width="365" height="274">
    </a>
    <h3 class="movie_menu_trailers_title" style="" id="trailer_image_title_{{each_trailer.youtube_code}}"></h3>
    <iframe id="{{each_trailer.youtube_code}}" width="365" height="274" frameborder="0" allowfullscreen class="pull-left" controls=0 style="display:none;"></iframe>
    </div>
        {%endfor%}
        </div>
</div>

<div class="movie_body movie_info" style="display: none; border-radius: 9px;" id="movie_info">
    
    <div class="movie_summary" style="margin: 10px;font-size: 10px !important">
    	{% for each_date in movie_info.all_dates %}
			{{each_date.day}} / {{each_date.month}} / {{each_date.year}} - {{each_date.desc}}<br/>
    	{% endfor %}
    </div>

    <div class="movie_summary" style="margin: 10px;font-size: 13px !important">
        {{movie_info.plot|safe}}
    </div>

    {% if movie_info.info %}
        <hr/>
        <div class="movie_summary" style="margin: 10px">
            <strong>Info from wikipedia</strong> <br/>
            {{movie_info.info|safe}}
        </div>
    {% endif %}

    {% if movie_info.summary %}
        <hr/>
        <div class="movie_summary" style="margin: 10px">
            <strong>Extra info</strong> <br/>
            {{movie_info.summary|safe}}
        </div>
    {% endif %}
</div>

<div class="movie_body" id="movie_body">
    <div class="movie_banner_img">
        <img src="{{movie_info.banner_image_small}}" />
    </div>
    <div class="image_side_content">
        <div class="movie_title" id="movie_title">
            <a href="/movie/{{movie_info.id}}/{{movie_info.name.split|join:"-"}}/">  {{movie_info.name}} </a>
                {% if movie_info.date.year_condition%}<span>({{movie_info.date.year}})</span>{% endif %}
        </div>
        {% if movie_info.date.year_condition %}
            <div class="movie_summary">
                Release : {{movie_info.date.day}} / {{movie_info.date.month}} / {{movie_info.date.year}}. &nbsp;&nbsp;&nbsp; Days: {{movie_info.days_left}}
            </div>
        {% endif %}
            <div class="each_item_genres movie_summary" style="width: 100%" id="each_item_genres">
                 {% for each_genre in movie_info.genres %}<li>{{each_genre.name}}</li>{%endfor%}
            </div>
            
            
        
        <div class="movie_summary" id="movie_summary">
            {{movie_info.summary|safe}}
        </div>
        <div class="movie_summary" id="movie_summary">
            {{movie_info.info|safe}}
        </div>
    </div>
    
    <div class="image_bottom_content">
        <div class="movie_cast_body">
            <div class="cast_heading">
                Cast
            </div>
            <div class="cast_items">
                {%for each_person in movie_info.persons%}
                    <div class="cast_box_main">
                        <div class="cast_box_image" id="cast_box_image_id_4">
                            <img src="{{each_person.profile_image_small}}" style="">
                        </div>    
                        <div class="cast_box_content" id="cast_box_content_id_4">
                            <div class="cast_box_content_name">
                                <a href="/person/{{each_person.id}}/{{each_person.name.split|join:"-"}}/">{{each_person.name}}</a> 
                            </div>
                            <div class="cast_box_content_prof">    
                                {% for each_prof in each_person.professions %} 
                                	<a href="/prof/{{each_prof.id}}/">{{each_prof.name}}</a>
                                {% endfor %}
                            </div>        
                            <div class="cast_box_content_char">          
                                <a href="/char/{{each_person.character_id}}/">{{each_person.character}}</a>      
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


    <div class="movie_body_right_menu" >
    <!-- css in movie_info -->
      
        <div class="right_menu_item" >
            <a><strong>{{movie_info.name}}</strong></a>
        </div>
        <div class="right_menu_item" >
            <a href="#/trailers/" onclick="showtrailers();">Trailers</a>
        </div>
        <div class="right_menu_item" >
            <a href="#/info/" onclick="showinfo();">More Info</a>
        </div>
        <div class="right_menu_item">
            <a>Full cast</a>
        </div>
        <div class="right_menu_item">
            <a>All Images</a>
        </div>
        <div class="right_menu_item">
            <a>Rating & Review</a>
        </div>
        <div class="right_menu_item">
            <a>Related News</a>
        </div>
        <div class="right_menu_item">
            <a>Additional Info</a>
        </div>
        <hr style="margin: 0"/>
        <div class="right_menu_item">
            <a href="/user/contribute/?movie_id={{id}}" target="_blank">Report Error</a>
        </div>

        <hr style="margin-top: 0"/>
          <div class="right_menu_item">
            <strong>Share</strong>
		             <div class="">
		            <br/>
		            <div class="right_menu_item" style="float: left !important; line-height: 20px; margin: auto; margin-bottom: 4px;" >
		                <a href="https://twitter.com/share" class="twitter-share-button pull-right" data-via="w4rlock1" data-size="small">Tweet</a>
		            </div>
		            <br/>
		            <div class="right_menu_item" style="margin-bottom: 4px">          
		                <div class="g-plusone" data-annotation="inline" data-width="120"></div>
		            </div>
		            <div class="right_menu_item" >
		                <div class="fb-like" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true"></div>
		            </div>                    
    </div>
        </div>
        

    </div>

    <div class="movie_images_all">
            {% for each_image in movie_info.images %}
              <a href="{{each_image.actual}}" target="_blank"> <img src="{{each_image.small}}" /> </a>
            {% endfor %}
</div>

{% endblock %}