<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Movies </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    <script src="{{MEDIA_URL}}jquery.min.js"></script>
    <style type="text/css" media="screen">
    	.p2_main_body{
    		border: 1px solid #BCBCB9;
    		height: 604px;
    		width: 962px;
    	}
    	.each_item{
    		background: #F6F6F5;
    		height: 200px;
    		width: 480px;
    		float: left;
    		margin-bottom: 1px;
    		margin-left: 1px;
    	}
    	.p2_heading{
    		width: 900px;
    		font-size: 20px;
    	}
    	.heading span{
    		font-size: 9px;
    	}
    	
    	 #banner_img{
        float: left;
        max-width: 50%;
    }
    #each_item_title{
        
    }
    #each_item_title span{
        float: left;
        color: #136CB2;
        font-family: inherit;
        font-weight: bold;
        text-rendering: optimizelegibility;
        text-overflow: ellipsis;
        margin-left: 5px;
        width: 210px;
        word-wrap: break-word;

        font-size: 13px;
		margin: .35em 0 .25em;
		padding: 0;
    }
    .search_input{
        width: 315px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }


    #each_item_cast {
        font-size: 13px;
        float: left;
        width: 210px;
        word-wrap: break-word;
        margin-left: 5px;
    }
    #each_item_cast li + li::before {
        padding: 0 4px;
        content: " / \20\0020";
    }
    #each_item_cast li {
        display: inline;
        height: 16px;
        line-height: 16px;
    }
    #each_item_cast li{
        color: black;
    }
    #each_item_cast ul{
        margin: 0px;
        padding: 0px;
    }
    #each_item_days_left{
        float: left;
        margin-left: 5px;
        width: 210px;
        word-wrap: break-word;
    }
    </style>
</head>

<body>
	<div class="p2_heading">New Movies In Theaters <span><a href="#">see all</a></span></div>
	<div class="p2_main_body" id="p2_main_body">
		 <div class="progress progress-striped active" id='itemlist_loader'>
            <div class="bar" style="width: 100%;">Loading List....</div>
        </div>
	</div>
</body>

<script type="text/javascript">
	var datax={'latestdb':''};
   if (datax.latestdb == '' ){
        url = "/v2/api/latestdb/";
        $.getJSON(url,function(data){
            datax.latestdb = data;
            arrange_elements(data);
        })
    }
    else{
        arrange_elements(datax.latestdb);
    }

    function arrange_elements(data){
    	var counter = 0;
         $.each(data, function(i,movie){
         	if(counter<6){
         		counter = counter +1;
            this_movie = '<div class=\'each_item\' id=\''+movie.jsid+'\' onclick=\'load_item_data(this.id)\' >'
            this_movie += '<img src=\''+movie.banner_image_small+'\' id=\'banner_img\' />'
            this_movie_name = movie.name
            
            if (movie.date.year != 1800){
                this_movie_name += ' ('+movie.date.year+') '
            }

            if(movie.days_left>0 && movie.days_left<100){
                this_movie_name += ' '+movie.days_left +' days left'
            }
            this_movie += '<div id=\'each_item_title\'><span>'+this_movie_name+'</span></div>'
            this_movie_persons = '<div id=\'each_item_cast\'>'
            $.each(movie.persons, function(i,person){
                this_movie_persons += '<li>'
                this_movie_persons += person.name
                this_movie_persons += '</li>'
            })
            this_movie_persons += '</div>'
            this_movie += this_movie_persons
            this_movie += '</div>'
            $(this_movie).appendTo("#p2_main_body")
        }
        })
	$('#itemlist_loader').toggle('display')
    }
</script>

</html>