{%extends "v1.html"%}
{%block content%}
<style type="text/css" media="screen">
    .main_body{
        /*padding-top: 20px;*/
    }
    /*movie_base_page*/
</style>
<script type="text/javascript">
$(function() {
  $("#movie_form").autocomplete({
    source: "/movie/searching/",
    minLength: 2,
  });
});
</script>
<div class="tabs">
            <ul class="nav nav-tabs">
              <li id="intheaters_menu">
                <a href="#/In-Theaters" onClick="loadintheaters_x()">In Theaters</a>
              </li>
              <li id="upcomming_menu"><a href="#/upcomming-movies" onClick="loadupcomming_x()">Upcomming Movies</a></li>
             
              <li id="latestdb_menu"><a href="#/Latest-Additions" onClick="loadlatestdb_x()">Latest Additions</a></li>
              <li id="latest_trailers_menu"><a href="/movies/latest/trailers/" >Latest Trailers</a></li>
              <li id="images_all" class="active"><a href="/v1/image/list/" >Latest Images</a></li>
            </ul>
        </div>

{% if user.username %}
<div class="span12">

    <!-- Upload form. Note enctype attribute! -->
<form action="{%url listviewv2%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.non_field_errors}}
    {%if form.imagefile.errors%}
    <div class="control-group error">
            <label class="control-label" for="inputError">Image File</label>
            <div class="controls">
                {{form.imagefile}}
                <span class="help-inline">
                    {{form.imagefile.errors}}
                    <li>{{form.imagefile.help_text}}</li>
                </span>
                
            </div>
    </div>
    {%else%}
    <div class="control-group">
            <label class="control-label">Image File</label>
            <div class="controls">
              {{form.imagefile}}
              <span class="help-inline">{{form.imagefile.help_text}}</span>
            </div>
    </div>
    {%endif%}

    {%if form.image_desc.errors%}
    <div class="control-group error">
            <label class="control-label" for="inputError">Image Desc</label>
            <div class="controls">
                {{form.image_desc}}
                <span class="help-inline">{{form.image_desc.errors}}</span>
            </div>
    </div>
    {%else%}
    <div class="control-group">
            <label class="control-label">Image Desc</label>
            <div class="controls">
              {{form.image_desc}}
            </div>
    </div>
    {%endif%}

    {%if form.movie.errors%}
    <div class="control-group error">
            <label class="control-label" for="inputError">Movie :</label>
            <div class="controls">
                {{form.movie}}
                <span class="help-inline">{{form.movie.errors}}</span>
            </div>
    </div>
    {%else%}
    <div class="control-group">
            <label class="control-label">movie</label>
            <div class="controls">
              {{form.movie}}
            </div>
    </div>
    {%endif%}

    {%if form.image_type.errors%}
    <div class="control-group error">
            <label class="control-label" for="inputError">Image Type :</label>
            <div class="controls">
                {{form.image_type}}
                <span class="help-inline">{{form.image_type.errors}}</span>
            </div>
    </div>
    {%else%}
    <div class="control-group">
            <label class="control-label">Image Type</label>
            <div class="controls">
              {{form.image_type}}
            </div>
    </div>
    {%endif%}


    <input type="submit" value="Upload" class="btn"/>
</form>
</div>
{% endif %}
<div class="span12" style="width: 100%; maring: auto">
<!-- List of uploaded documents -->
{% if documents %}
{%load thumbnail%}
<script src="{{MEDIA_URL}}mansory/js/jquery.masonry.min.js"></script>
<div id="images-container">
    {% for document in documents %}
        {% thumbnail document.imagefile "100x100" as image %}
            <div class="images-box">
              <a href="/v1/image/{{document.id}}/">
                <img src="{{image.url}}" heigth="160" width="120" alt="{{ document.image_desc }}">
              </a>
            </div>
        {% endthumbnail %}
    {% endfor %}
    </div>

{% else %}
    <p>No images.</p>
{% endif %}
</div>
<script type="text/javascript">
 var $container = $('#images-container');
    $container.imagesLoaded(
              function()
                {
                  $container.masonry
                  ({
                        itemSelector : '.images-box',
        isAnimated: true,
      columnWidth: 120
                         
        
                  });
                }
              );   
</script>
{%endblock%}



