  
<style type="text/css" media="screen">
	body{
		background: rgba(0,0,0,0);
		font-family: Verdana, Arial, sans-serif;
		font-size: 13px;
	}
	.right_menu_item{
		float: left;
	}
	.movie_body_right_menu{
		float: left;
	}
	.right_menu_item strong{
		color: #666;
		font-weight: bold;
	}
	.notify_redirect{
		
	}
	.notify_redirect a{
		
	}
</style>
<title>{{movie.id.movie_name}}</title>
<body>
	
  <div class="movie_body_right_menu">
            <div class="right_menu_item" >
                <a><strong>Share It</strong></a>
            </div>
            <br/>
            <div class="right_menu_item" style="float: left !important; line-height: 20px; margin: auto; margin-bottom: 4px;" >
                <a href="https://twitter.com/share" class="twitter-share-button pull-right" data-via="w4rlock1" data-size="small">Tweet</a>
            </div>
            <br/>
            <div class="right_menu_item" style="margin-bottom: 4px">          
                <div class="g-plusone" data-annotation="inline" data-width="120"></div>
            </div>
            <br/>
            <div class="right_menu_item" >
                <div class="fb-like" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true"></div>
            </div>
                      
    </div>
<div style="display: none">
  {%if theater_status == 'D' %}
         Releasing on:  {% if movie.id.movie_year.year == 1800 %}  Don't Know Yet {% else %} {{name.movie_year}}
                           In {{days_left}} days {{ name.movie_year|date:"l" }}

          {%endif%}
  {%else%}
  {%if theater_status == 'T' %}
      In Theaters Now
  {%endif%}

  {%endif%}
  
{% for each_person in movie.persons %}
<li>{{each_person.person_name}}</li>
{%endfor%}
<br/>
{% for each_genre in movie.genres %}
<li>
{{each_genre.genre_id.genre_name}} 
</li>
{% endfor %}
<br/>
{{movie.id.movie_plot}}
<img src="{{banner_image.imagefile.url}}" />
<img src="{{background_image.imagefile.url}}" />


    
       
</div>
</body>
  <script src="{{MEDIA_URL}}template_scripts/indexv1/social.js"></script>

<div class="notify_redirect" id="notify_redirect"></div>
  <script type="text/javascript" charset="utf-8" async defer>
  window.onload = function(){
	     a = document.getElementById('notify_redirect');
	     a.innerHTML = "click <a href=\"/v1/#/movie/{{movie.id.id}}/{{movie.id.movie_name}}/\">here </a>to redirect to actual page";
  if (top === self) {
    a.hidden = false;
      window.setTimeout("location=('/v1/#/movie/{{movie.id.id}}/{{movie.id.movie_name}}');",200);
         } else { 
          a.hidden = true;
           }
}

</script>
