{%extends 'index_base_page.html'%}
{%block content2%}
<script type="text/javascript">
	function getYouTubeInfo() {
                $.ajax({
                        url: "http://graph.facebook.com/270983016328095",
                        dataType: "jsonp",
                        success: function (data) { 
                          parseresults(data); 
                        }
                });
        }

//http://graph.facebook.com/ id or name


        function parseresults(data) {
        	    var id=data.id;
                var name = data.name;
                var about = data.about;
                var likes = data.likes;
                var picture=data.picture;
                var cover_photo=data.cover.source;
                document.getElementById('jsmessage').innerHTML=id+'<br/>'+name+'<br/>'+about+'<br/>'+likes+'<br/>'+cover_photo;
                var title_id='#title'+video_id;
                var description_id='#description'+video_id;
                var extrainfo_id='#extrainfo'+video_id;

                $(title_id).html(title);
                $(description_id).html('<b>Description</b>: ' + description);
                $(extrainfo_id).html('<b>Author</b>: ' + author + '<br/><b>Views</b>: ' + viewcount);
        }
         $(document).ready(function () {
                getYouTubeInfo();
        });

</script>

  <div id="jsmessage">
  </div>
  <br/>

{%endblock%}
